/*// =============================================================================
// Ella Custom CSS - Customize The Style For Layout
// =============================================================================

// =============================================================================
//
// IMPORTANT DISCLAIMER
// Shopify is notifying shop owners about the need to convert scss files to css files.
// Please use only CSS to style the layout.
//
// =============================================================================*/

/*// ===========================================================================
// Custom Header
// =============================================================================*/
.cart-count-bubble {
    position: absolute;
    top: -10px;
    right: -10px;
    min-width: 16px;
    min-height: 16px;
    line-height: 16px;
}

.cart-count-bubble {
    font-family: MadaniArabic-Regular;
    font-size: 8px;
    font-weight: 400;
    line-height: 16px;
}


.header__menu-item {
    font-family: MadaniArabic-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-transform: capitalize;
}

/*// ===================================================================================
// Custom Slide show
// ====================================================================================*/
.slide-heading {
    font-family: Gotham-Medium;
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    text-align: left;
}

/*// ====================================================================================
// Feature Section
// =====================================================================================*/
.halo-block-header .title {
    font-family: Gotham-Medium;
    font-size: 36px;
    font-weight: 500;
    line-height: 43.2px;
    text-transform: capitalize;
}

.spotlight-item .product-image {
    position: absolute;
    bottom: 90px;
    left: -45px;
    z-index: 1;
}

.spotlight-item .new_arrival_badge-image {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

/*// ============================================================================
// Featured Tab Section
// =============================================================================*/
.halo-row {
    justify-content: center;
}

.featured-description {
    font-family: MadaniArabic-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    padding-top: 20px;
}

.halo-item {
    padding-top: var(--items-grid-gap-style);
    padding-bottom: var(--items-grid-gap-style);
}

.tab-border {
    width: 100%;
    display: block;
    position: absolute;
    top: 100px;
    height: 1px;
    background-color: rgba(176, 176, 176, 1);
}

.tab-panel li a {
    border-bottom-width: 4px !important;
    padding-bottom: 15px !important;
}

/*// ==================================================================
// Image banner
// ===================================================================*/
.banner-heading {
    font-family: 'Gotham-Medium';
    font-size: 48px !important;
    font-weight: bold !important;
    line-height: 57.6px !important;
    text-transform: capitalize;
}

.banner-text {
    font-family: MadaniArabic-Regular;
    font-size: 32px;
    font-weight: 400 !important;
    line-height: 40px !important;
    text-align: center;
}

/*// ==================================================================
// Custom Newsletter
// ===================================================================*/
.newsletter-container {
    background-color: rgba(12, 156, 216, 0.8);
    border-radius: 8px;
}

.newsletter-content-box--absolute {
    position: absolute;
    bottom: -10%;
    left: 100px !important;
    z-index: 1;
    padding: 100px 70px 30px;
    -moz-transform: translateY(-47%);
    -o-transform: translateY(-47%);
    -ms-transform: translateY(-47%);
    -webkit-transform: translateY(-47%);
    transform: translateY(-47%);
    width: calc(100% - 200px) !important;
    max-height: 100%;
    height: 375px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.newsletter-container .banner-heading {
    font-family: Gotham-Medium !important;
    font-size: 42px !important;
    font-weight: 700 !important;
    line-height: 50.4px !important;
    text-align: left;
    text-transform: uppercase;
}

.newsletter-container .banner-sub-title{
    font-family: MadaniArabic-Regular;
    font-size: 32px !important;
    font-weight: 400 !important;
    line-height: 28px !important;
    text-align: left;
}

.newsletter-container .input-container {
    display: flex;
    flex-direction: row;
    width: 55%;
}

.newsletter-container .input-prefix {
    width: 60px;
    height: 60px;
    background: rgba(234, 234, 234, 1);
    text-align: center;
    padding-top: 20px;
}

.newsletter-container .input-prefix svg {
    stroke: transparent;
    width: 20px;
    height: 20px;
}

.newsletter-container .newsletter-form__button {
    width: 150px;
    height: 60px;
    background-color: rgba(67, 158, 70, 1);
    border: 1px solid rgba(67, 158, 70, 1);
    color: #fff;
}

.newsletter-container .newsletter-form__button:hover {
    background-color: #fff;
    color: rgba(67, 158, 70, 1);
}

.newsletter-container .field__input {
    height: 60px;
    width: 50%;
}

.newsletter-container .banner-text {
    text-align: left;
    color: #fff !important;
    font-family: MadaniArabic-Regular;
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 28px !important;
    padding-top: 20px;
}

.newsletter-container .banner-text a {
    color: white;
    font-weight: 600;
    text-decoration: underline;
}

.banner-item .product-image {
    width: 45%;
    height: auto;
    position: absolute;
    top: -10px;
    right: 100px;
    z-index: 2;
}

/*// =============================================================
// Custom rich text section
// ==============================================================*/
.rich_text .heading {
    font-size: 48px !important;
}

.highlight-wrapper {
    color: rgba(38, 51, 110, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight-wrapper .highlight-number {
    font-family: Gotham-Medium;
    font-size: 120px;
    line-height: 144px;
}


.highlight-wrapper .highlight-text {
    font-family: Gotham-Medium;
    font-size: 40px;
    line-height: 48px;
    text-align: left;
    text-transform: uppercase;
} 

/*/ ====================================================================================
// Custom text image banner
// ====================================================================================*/
.custom-text-box {
    background: rgba(255, 255,255, 0.55);
    padding:50px;
    width: calc(100% - 200px) !important;
}

/*// ==================================================================================
// Custom footer
// ==================================================================================*/
.footer-text-block__heading{
    font-family: MadaniArabic-Regular;
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 28px !important;
}

.footer-block__newsletter .newsletter-form__field-wrapper {
    flex-direction: column;
    gap: 20px;
}

.footer-block__newsletter .footer-block__newsletter-form .newsletter-form__button {
    width: 100% !important;
}

/*// ==============================================================================
// Custom Video Slide Show
// ===============================================================================*/
.video-swiper {
    padding-bottom: 50px !important;
}
.swiper-wrapper {
    padding: 0 50px;
}
.video-swiper .swiper-slide {
    display: flex;
    width: 100%;
}
.video-swiper .video-wrapper, .video-swiper .text-wrapper {
    flex: 0 0 45%;
    max-width: 50%;
}

.video-swiper .video-wrapper {
    padding-right: 20px;
}

.deferred-media__poster img {
    width: 100% !important;
    height: auto !important;
}

.video-swiper .text-wrapper .sub-heading {
    font-family: MadaniArabic-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #494848;
    padding-bottom: 10px;;
}

.video-swiper .text-wrapper .heading {
    font-family: Gotham-Medium;
    font-size: 32px;
    font-weight: 500;
    line-height: 38.4px;
    color: #26336E;
    padding-bottom: 20px;
}

.video-swiper .text-wrapper .description {
    font-family: MadaniArabic-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #494848;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px !important;
}

.video-swiper .swiper-pagination-bullet {
    width: 24px;
    height: 24px;
}

.video-swiper .swiper-pagination-bullet-active {
    background: #0c9cd8;
}

