/*// =============================================================================
// Ella Custom CSS - Customize The Style For Layout
// =============================================================================

// =============================================================================
//
// IMPORTANT DISCLAIMER
// Shopify is notifying shop owners about the need to convert scss files to css files.
// Please use only CSS to style the layout.
//
// =============================================================================*/

/*// ===========================================================================
// Custom Header
// =============================================================================*/
.cart-count-bubble {
    position: absolute;
    top: -10px;
    right: -10px;
    min-width: 16px;
    min-height: 16px;
    line-height: 16px;
}

.cart-count-bubble {
    font-family: MadaniArabic-Regular;
    font-size: 8px;
    font-weight: 400;
    line-height: 16px;
}


.header__menu-item {
    font-family: MadaniArabic-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-transform: capitalize;
}

/*// ===================================================================================
// Custom Slide show
// ====================================================================================*/
.slide-heading {
    font-family: Gotham-Medium;
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    text-align: left;
}

/*// ====================================================================================
// Feature Section
// =====================================================================================*/
.halo-block-header .title {
    font-family: Gotham-Medium;
    font-size: 36px;
    font-weight: 500;
    line-height: 43.2px;
    text-transform: capitalize;
}

.spotlight-item .product-image {
    position: absolute;
    bottom: 90px;
    left: -45px;
    z-index: 1;
}

.spotlight-item .new_arrival_badge-image {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

/*//============================================================================
// Featured Tab Section
//=============================================================================*/
.halo-row {
    justify-content: center;
}

.featured-description {
    font-family: MadaniArabic-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    padding-top: 20px;
}

.halo-item {
    padding-top: var(--items-grid-gap-style);
    padding-bottom: var(--items-grid-gap-style);
}

.tab-border {
    width: 100%;
    display: block;
    position: absolute;
    top: 100px;
    height: 1px;
    background-color: rgba(176, 176, 176, 1);
}

.brand__custom--tab ul li a {
    border-bottom-width: 4px !important;
    padding-bottom: 15px;
}