/*// =============================================================================
// Ella Custom CSS - Customize The Style For Layout
// =============================================================================

// =============================================================================
//
// IMPORTANT DISCLAIMER
// Shopify is notifying shop owners about the need to convert scss files to css files.
// Please use only CSS to style the layout.
//
// =============================================================================*/

/*// ===========================================================================
// Custom Header
// =============================================================================*/
.cart-count-bubble {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 16px;
    height: 16px;
}
